<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle Oferta</title>
</head>
<body>
    <h1 th:text="${oferta.titulo}"></h1>
    <p th:text="${oferta.descripcion}"></p>
    <p><strong>Ciudad:</strong><span th:text="${oferta.ciudad}"></span></p>    
    <p><strong>Plazas:</strong><span th:text="${oferta.plazas}"></span></p>    

    <!-- Botón para solicitar una plaza -->
    <form th:action="@{/solicitudes/crear}" method="post">
        <input type="hidden" name="ofertaId" th:value="${oferta.id}">
        <button type="submit">Solicitar</button>
    </form>
    <br>
    <a href="/ofertas">Volver</a>
</body>
</html>